{% extends "system/components/base.html.twig" %}

{% block module %}
    <main class="-mt-24 pb-8">
        <div class="w-5/6 mx-auto pb-12 px-4 sm:px-6 lg:px-8">
            <div class="bg-gray-800 rounded-lg shadow p-3">
                <nav class="flex w-full mb-3 ml-3" aria-label="Breadcrumb">
                    <ol class="flex items-center space-x-4">
                        <li>
                            <div>
                                <a href="#" class="text-gray-400 hover:text-gray-500">
                                    <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                                    </svg>
                                    <span class="sr-only">Accueil</span>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="flex items-center">
                                <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                    <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                                </svg>
                                <a href="#" class="ml-4 text-sm font-medium text-white hover:text-gray-300">Ressources</a>
                            </div>
                        </li>
                    </ol>
                </nav>
                <div class="flex-grow w-full mx-auto lg:flex">
                    <div class="flex-1 min-w-0 bg-white xl:flex">
                        <div class="border-b border-gray-500 xl:border-b-0 xl:flex-shrink-0 xl:w-1/5 xl:border-r xl:border-gray-500 bg-gray-800">
                            <div class="h-full pl-4 pr-6 pt-1 sm:pl-6 lg:pl-8 xl:pl-0">
                                <!-- Colonne Gauche -->
                                <div class="h-full relative">
                                    <div class="w-full mb-2">
                                        <button type="button" class="w-full inline-flex items-center px-5 py-4 border border-transparent leading-4 font-medium rounded-md shadow-sm text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                            <i class="fa fa-cloud-upload-alt mr-2"></i><p>Poster une ressource</p>
                                        </button>
                                    </div>
                                    <div class="bg-gray-700 overflow-hidden shadow rounded-lg divide-y divide-gray-500 p-3">
                                        <div class="text-gray-200 mb-2 ml-2 flex items-center">
                                            <i class="fa fa-star mr-2"></i><p>Liens utiles</p>
                                        </div>
                                        <div class="py-2">
                                            <nav class="space-y-1" aria-label="Sidebar">
                                                <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
                                                <a href="#" class="text-gray-300 group flex items-center px-3 text-sm font-medium rounded-md">
                                                    <span class="truncate">
                                                      Discord
                                                    </span>
                                                </a>
                                                <a href="#" class="text-gray-300 group flex items-center px-3 text-sm font-medium rounded-md">
                                                    <span class="truncate">
                                                      Swan
                                                    </span>
                                                </a>
                                            </nav>

                                        </div>
                                    </div>

                                    <div class="bg-gray-700 overflow-hidden shadow rounded-lg divide-y divide-gray-500 p-3  mt-3">
                                        <div class="text-gray-200 mb-2 ml-2 flex items-center">
                                            <i class="fa fa-folder-open mr-2"></i><p>Catégories</p>
                                        </div>
                                        <div class="py-2">
                                            <nav class="space-y-1" aria-label="Sidebar">
                                                <a href="#" class="text-gray-300 group flex items-center px-3 text-sm font-medium rounded-md">
                                                    <span class="truncate">
                                                      Addons
                                                    </span>
                                                    <span class="bg-white text-gray-900 ml-auto inline-block py-0.5 px-3 text-xs rounded-full">
                                                      20
                                                    </span>
                                                </a>
                                                <a href="#" class="text-gray-300 group flex items-center px-3 text-sm font-medium rounded-md">
                                                    <span class="truncate">
                                                      Skripts
                                                    </span>
                                                    <span class="bg-white text-gray-900 ml-auto inline-block py-0.5 px-3 text-xs rounded-full">
                                                      356
                                                    </span>
                                                </a>
                                                <a href="#" class="text-gray-300 group flex items-center px-3 text-sm font-medium rounded-md">
                                                    <span class="truncate">
                                                      API / IDE
                                                    </span>
                                                    <span class="bg-white text-gray-900 ml-auto inline-block py-0.5 px-3 text-xs rounded-full">
                                                      6
                                                    </span>
                                                </a>
                                                <a href="#" class="text-gray-300 group flex items-center px-3 text-sm font-medium rounded-md">
                                                    <span class="truncate">
                                                      Bazar à codes
                                                    </span>
                                                    <span class="bg-white text-gray-900 ml-auto inline-block py-0.5 px-3 text-xs rounded-full">
                                                      ---
                                                    </span>
                                                </a>
                                                <a href="#" class="text-gray-300 group flex items-center px-3 text-sm font-medium rounded-md">
                                                    <span class="truncate">
                                                      Archives
                                                    </span>
                                                    <span class="bg-white text-gray-900 ml-auto inline-block py-0.5 px-3 text-xs rounded-full">
                                                      ---
                                                    </span>
                                                </a>
                                            </nav>

                                        </div>
                                    </div>


                                    <div class="bg-gray-700 overflow-hidden shadow rounded-lg divide-y divide-gray-500 p-3  mt-3">
                                        <div class="text-gray-200 mb-2 ml-2 flex items-center">
                                            <i class="fa fa-trophy mr-2"></i><p>Top des ressources</p>
                                        </div>
                                        <div class="py-2">
                                            <nav class="space-y-1" aria-label="Sidebar">
                                                <a href="#" class="flex p-2 mb-2 rounded-md">
                                                    <div class="mr-4 flex-shrink-0">
                                                        <svg class="h-12 w-12 border border-gray-300 bg-white text-gray-300" preserveAspectRatio="none" stroke="currentColor" fill="none" viewBox="0 0 200 200" aria-hidden="true">
                                                            <path vector-effect="non-scaling-stroke" stroke-width="1" d="M0 0l200 200M0 200L200 0" />
                                                        </svg>
                                                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium text-white">
                                                          <p class="mx-1">50</p><i class="fa fa-file-download"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <h4 class="text-sm font-bold text-white">
                                                            <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-500 text-white">
                                                              Addon
                                                            </span>
                                                            Lorem ipsum
                                                        </h4>
                                                        <p class="mt-1 text-xs text-gray-400">
                                                            Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita.
                                                        </p>
                                                    </div>
                                                </a>
                                                <a href="#" class="flex p-2 mb-2 rounded-md">
                                                    <div class="mr-4 flex-shrink-0">
                                                        <svg class="h-12 w-12 border border-gray-300 bg-white text-gray-300" preserveAspectRatio="none" stroke="currentColor" fill="none" viewBox="0 0 200 200" aria-hidden="true">
                                                            <path vector-effect="non-scaling-stroke" stroke-width="1" d="M0 0l200 200M0 200L200 0" />
                                                        </svg>
                                                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium text-white">
                                                          <p class="mx-1">45</p><i class="fa fa-file-download"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <h4 class="text-sm font-bold text-white">
                                                            <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-blue-600 text-white">
                                                              Skript
                                                            </span>
                                                            Lorem ipsum
                                                        </h4>
                                                        <p class="mt-1 text-xs text-gray-400">
                                                            Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita.
                                                        </p>
                                                    </div>
                                                </a>
                                                <a href="#" class="flex p-2 mb-2 rounded-md">
                                                    <div class="mr-4 flex-shrink-0">
                                                        <svg class="h-12 w-12 border border-gray-300 bg-white text-gray-300" preserveAspectRatio="none" stroke="currentColor" fill="none" viewBox="0 0 200 200" aria-hidden="true">
                                                            <path vector-effect="non-scaling-stroke" stroke-width="1" d="M0 0l200 200M0 200L200 0" />
                                                        </svg>
                                                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium text-white">
                                                          <p class="mx-1">32</p><i class="fa fa-file-download"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <h4 class="text-sm font-bold text-white">
                                                            <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-indigo-600 text-white">
                                                              API / IDE
                                                            </span>
                                                            Lorem ipsum
                                                        </h4>
                                                        <p class="mt-1 text-xs text-gray-400">
                                                            Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita.
                                                        </p>
                                                    </div>
                                                </a>
                                                <a href="#" class="flex p-2 mb-2 rounded-md">
                                                    <div class="mr-4 flex-shrink-0">
                                                        <svg class="h-12 w-12 border border-gray-300 bg-white text-gray-300" preserveAspectRatio="none" stroke="currentColor" fill="none" viewBox="0 0 200 200" aria-hidden="true">
                                                            <path vector-effect="non-scaling-stroke" stroke-width="1" d="M0 0l200 200M0 200L200 0" />
                                                        </svg>
                                                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium text-white">
                                                          <p class="mx-1">21</p><i class="fa fa-file-download"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <h4 class="text-sm font-bold text-white">
                                                            <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-blue-600 text-white">
                                                              Skript
                                                            </span>
                                                            Lorem ipsum
                                                        </h4>
                                                        <p class="mt-1 text-xs text-gray-400">
                                                            Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita.
                                                        </p>
                                                    </div>
                                                </a>


                                            </nav>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="bg-gray-800 lg:min-w-0 lg:flex-1">
                            <div class="h-full p-1">
                                <!-- Colonne Droite -->
                                <div class="" style="min-height: 36rem;">

                                    <div class="overflow-hidden divide-y divide-gray-500 border-b border-gray-500 px-3 pt-3 mb-5">
                                        <div class="text-gray-200 mb-2 ml-2 flex items-center">
                                            <i class="fa fa-angle-double-up mr-2"></i><p>Ressources du moment !</p>
                                        </div>
                                        <div class="py-2">
                                            <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-3">
                                                <li class="col-span-1 shadow-sm divide-y divide-gray-500">
                                                    <div class="flex">
                                                        <div class="relative bg-gray-700 flex-shrink-0 flex items-center justify-center w-24 p-2 text-sm font-medium rounded-tl-lg">
                                                            <img class="w-full flex-shrink-0 mx-auto bg-gray-700 rounded-lg" src="https://skript-mc.fr/forum/uploads/monthly_2018_08/logo.png.4f281b9a7a031def7e7bca6ef69ec264.png" alt="">
                                                            <img class="absolute border-2 border-gray-800 rounded bottom-0 right-0 block h-7 w-7" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                                        </div>
                                                        <div class="bg-gray-700 flex-1 flex items-center justify-between rounded-tr-lg">
                                                            <div class="flex-1 py-2 text-sm">
                                                                <a href="#" class="text-white font-bold hover:text-gray-400">
                                                                    <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-500 text-white">
                                                                      Addon
                                                                    </span>
                                                                    Lorem ipsum</a>
                                                                <p class="text-gray-400 text-xs">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita.</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="bg-gray-700 w-full rounded-b-lg">
                                                        <div class="w-full grid grid-cols-2 gap-4 text-xs text-white">
                                                            <div class="w-full flex p-2">Téléchargements: XXX</div>
                                                            <div class="w-full flex p-2">Note: ⭐⭐⭐⭐⭐</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-span-1 shadow-sm divide-y divide-gray-500">
                                                    <div class="flex">
                                                        <div class="relative bg-gray-700 flex-shrink-0 flex items-center justify-center w-24 p-2 text-sm font-medium rounded-tl-lg">
                                                            <img class="w-full flex-shrink-0 mx-auto bg-gray-700 rounded-lg" src="https://skript-mc.fr/forum/uploads/monthly_2018_08/logo.png.4f281b9a7a031def7e7bca6ef69ec264.png" alt="">
                                                            <img class="absolute border-2 border-gray-800 rounded bottom-0 right-0 block h-7 w-7" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                                        </div>
                                                        <div class="bg-gray-700 flex-1 flex items-center justify-between rounded-tr-lg">
                                                            <div class="flex-1 py-2 text-sm">
                                                                <a href="#" class="text-white font-bold hover:text-gray-400">
                                                                    <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-500 text-white">
                                                                      Addon
                                                                    </span>
                                                                    Lorem ipsum</a>
                                                                <p class="text-gray-400 text-xs">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita.</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="bg-gray-700 w-full rounded-b-lg">
                                                        <div class="w-full grid grid-cols-2 gap-4 text-xs text-white">
                                                            <div class="w-full flex p-2">Téléchargements: XXX</div>
                                                            <div class="w-full flex p-2">Note: ⭐⭐⭐⭐⭐</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-span-1 shadow-sm divide-y divide-gray-500">
                                                    <div class="flex">
                                                        <div class="relative bg-gray-700 flex-shrink-0 flex items-center justify-center w-24 p-2 text-sm font-medium rounded-tl-lg">
                                                            <img class="w-full flex-shrink-0 mx-auto bg-gray-700 rounded-lg" src="https://skript-mc.fr/forum/uploads/monthly_2018_08/logo.png.4f281b9a7a031def7e7bca6ef69ec264.png" alt="">
                                                            <img class="absolute border-2 border-gray-800 rounded bottom-0 right-0 block h-7 w-7" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                                        </div>
                                                        <div class="bg-gray-700 flex-1 flex items-center justify-between rounded-tr-lg">
                                                            <div class="flex-1 py-2 text-sm">
                                                                <a href="#" class="text-white font-bold hover:text-gray-400">
                                                                    <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-500 text-white">
                                                                      Addon
                                                                    </span>
                                                                    Lorem ipsum</a>
                                                                <p class="text-gray-400 text-xs">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita.</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="bg-gray-700 w-full rounded-b-lg">
                                                        <div class="w-full grid grid-cols-2 gap-4 text-xs text-white">
                                                            <div class="w-full flex p-2">Téléchargements: XXX</div>
                                                            <div class="w-full flex p-2">Note: ⭐⭐⭐⭐⭐</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                            <div class="w-full flex justify-end mt-2 text-xs text-white underline ">
                                                <a href="#">Voir toutes les ressources</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-full py-3">

                                        <div class="m-4 border border-gray-600 rounded-md p-3">
                                            <div class="grid grid-cols-5 gap-4">
                                                <div class="col-span-3">
                                                    <div class="sm:flex">
                                                        <a href="#" class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4 inline-block relative">
                                                            <img class="w-16 h-16 flex-shrink-0 mx-auto bg-gray-700 rounded-lg" src="https://skript-mc.fr/forum/uploads/monthly_2018_08/logo.png.4f281b9a7a031def7e7bca6ef69ec264.png" alt="">
                                                            <img class="absolute border-2 border-gray-800 rounded bottom-0 right-0 block h-7 w-7" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                                        </a>
                                                        <div>
                                                            <a href="#" class="text-md text-white">
                                                                <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-500 text-white">
                                                                    Addon
                                                                </span>
                                                                Lorem ipsum <span class="font-bold">1.0</span></a>

                                                            <p class="mt-1 text-gray-400 text-sm">
                                                                Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-start-5">
                                                    <div class="flex flex-row-reverse">
                                                        <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                                            Télécharger
                                                        </button>

                                                    </div>

                                                    <div class="flex text-white text-sm mt-2">
                                                        <div class="w-1/2 text-left">
                                                            ⭐⭐⭐⭐
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            5 avis
                                                        </div>
                                                    </div>
                                                    <div class="flex text-white text-xs mt-1">
                                                        <div class="w-1/2 text-left">
                                                            Mis à jour:
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            17 Avril 2021
                                                        </div>
                                                    </div>
                                                    <div class="flex text-white text-xs mt-1">
                                                        <div class="w-1/2 text-left">
                                                            Téléchargements:
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            22
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-4 border border-gray-600 rounded-md p-3">
                                            <div class="grid grid-cols-5 gap-4">
                                                <div class="col-span-3">
                                                    <div class="sm:flex">
                                                        <a href="#" class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4 inline-block relative">
                                                            <img class="w-16 h-16 flex-shrink-0 mx-auto bg-gray-700 rounded-lg" src="https://skript-mc.fr/forum/uploads/monthly_2018_08/logo.png.4f281b9a7a031def7e7bca6ef69ec264.png" alt="">
                                                            <img class="absolute border-2 border-gray-800 rounded bottom-0 right-0 block h-7 w-7" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                                        </a>
                                                        <div>
                                                            <a href="#" class="text-md text-white">
                                                                <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-500 text-white">
                                                                    Addon
                                                                </span>
                                                                Lorem ipsum <span class="font-bold">1.0</span></a>

                                                            <p class="mt-1 text-gray-400 text-sm">
                                                                Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-start-5">
                                                    <div class="flex flex-row-reverse">
                                                        <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                                            Télécharger
                                                        </button>

                                                    </div>

                                                    <div class="flex text-white text-sm mt-2">
                                                        <div class="w-1/2 text-left">
                                                            ⭐⭐⭐⭐
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            5 avis
                                                        </div>
                                                    </div>
                                                    <div class="flex text-white text-xs mt-1">
                                                        <div class="w-1/2 text-left">
                                                            Mis à jour:
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            17 Avril 2021
                                                        </div>
                                                    </div>
                                                    <div class="flex text-white text-xs mt-1">
                                                        <div class="w-1/2 text-left">
                                                            Téléchargements:
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            22
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-4 border border-gray-600 rounded-md p-3">
                                            <div class="grid grid-cols-5 gap-4">
                                                <div class="col-span-3">
                                                    <div class="sm:flex">
                                                        <a href="#" class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4 inline-block relative">
                                                            <img class="w-16 h-16 flex-shrink-0 mx-auto bg-gray-700 rounded-lg" src="https://skript-mc.fr/forum/uploads/monthly_2018_08/logo.png.4f281b9a7a031def7e7bca6ef69ec264.png" alt="">
                                                            <img class="absolute border-2 border-gray-800 rounded bottom-0 right-0 block h-7 w-7" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                                        </a>
                                                        <div>
                                                            <a href="#" class="text-md text-white">
                                                                <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-500 text-white">
                                                                    Addon
                                                                </span>
                                                                Lorem ipsum <span class="font-bold">1.0</span></a>

                                                            <p class="mt-1 text-gray-400 text-sm">
                                                                Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-start-5">
                                                    <div class="flex flex-row-reverse">
                                                        <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                                            Télécharger
                                                        </button>

                                                    </div>

                                                    <div class="flex text-white text-sm mt-2">
                                                        <div class="w-1/2 text-left">
                                                            ⭐⭐⭐⭐
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            5 avis
                                                        </div>
                                                    </div>
                                                    <div class="flex text-white text-xs mt-1">
                                                        <div class="w-1/2 text-left">
                                                            Mis à jour:
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            17 Avril 2021
                                                        </div>
                                                    </div>
                                                    <div class="flex text-white text-xs mt-1">
                                                        <div class="w-1/2 text-left">
                                                            Téléchargements:
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            22
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-4 border border-gray-600 rounded-md p-3">
                                            <div class="grid grid-cols-5 gap-4">
                                                <div class="col-span-3">
                                                    <div class="sm:flex">
                                                        <a href="#" class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4 inline-block relative">
                                                            <img class="w-16 h-16 flex-shrink-0 mx-auto bg-gray-700 rounded-lg" src="https://skript-mc.fr/forum/uploads/monthly_2018_08/logo.png.4f281b9a7a031def7e7bca6ef69ec264.png" alt="">
                                                            <img class="absolute border-2 border-gray-800 rounded bottom-0 right-0 block h-7 w-7" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                                        </a>
                                                        <div>
                                                            <a href="#" class="text-md text-white">
                                                                <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-500 text-white">
                                                                    Addon
                                                                </span>
                                                                Lorem ipsum <span class="font-bold">1.0</span></a>

                                                            <p class="mt-1 text-gray-400 text-sm">
                                                                Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-start-5">
                                                    <div class="flex flex-row-reverse">
                                                        <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                                            Télécharger
                                                        </button>

                                                    </div>

                                                    <div class="flex text-white text-sm mt-2">
                                                        <div class="w-1/2 text-left">
                                                            ⭐⭐⭐⭐
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            5 avis
                                                        </div>
                                                    </div>
                                                    <div class="flex text-white text-xs mt-1">
                                                        <div class="w-1/2 text-left">
                                                            Mis à jour:
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            17 Avril 2021
                                                        </div>
                                                    </div>
                                                    <div class="flex text-white text-xs mt-1">
                                                        <div class="w-1/2 text-left">
                                                            Téléchargements:
                                                        </div>
                                                        <div class="w-1/2 text-right">
                                                            22
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="ml-5 text-gray-400">
                                        <div class="flex-1 flex justify-between sm:hidden">
                                            <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
                                                Previous
                                            </a>
                                            <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
                                                Next
                                            </a>
                                        </div>
                                        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                                            <div>
                                                <p class="text-sm">
                                                    Affichage de
                                                    <span class="font-medium">1</span>
                                                    à
                                                    <span class="font-medium">10</span>
                                                    sur
                                                    <span class="font-medium">97</span>
                                                    résultats
                                                </p>
                                            </div>
                                            <div>
                                                <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                                                    <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-500 text-sm font-medium text-white">
                                                        <span class="sr-only">Previous</span>
                                                        <!-- Heroicon name: solid/chevron-left -->
                                                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                                        </svg>
                                                    </a>
                                                    <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-500 text-sm font-medium text-white">
                                                        1
                                                    </a>
                                                    <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-500 text-sm font-medium text-white">
                                                        2
                                                    </a>
                                                    <a href="#" class="hidden md:inline-flex relative inline-flex items-center px-4 py-2 border border-gray-500 text-sm font-medium text-white">
                                                        3
                                                    </a>
                                                    <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-500 text-sm font-medium text-white">
                                                        <span class="sr-only">Next</span>
                                                        <!-- Heroicon name: solid/chevron-right -->
                                                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                                        </svg>
                                                    </a>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /End replace -->
        </div>
    </main>
{% endblock %}