{% extends 'ressources/view/index.html.twig' %}

{% block subRouteModule %}

    <div class="w-auto mx-5 text-white mt-2">
        <div class="bg-gray-700 overflow-hidden shadow rounded-lg divide-y divide-gray-500 p-3 mb-2">
            <div class="flex">
                <div style="width: 4.4rem; height: 4.2rem;" class="relative mr-4">
                    <a href="#" class="flex-shrink-0">
                        <img class="w-14 h-14 flex-shrink-0 mx-auto bg-gray-700 rounded-lg absolute top-0 left-0" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </a>
                    <div class="hidden lg:block absolute bottom-0 right-0 text-xl bg-gray-700 px-1 rounded-full">
                        <p class="fa fa-bug text-red-400"></p>
                    </div>
                </div>

                <div class="w-full">
                    <div class="text-lg flex items-center">
                        <i class="fa fa-minus text-gray-300 mr-1"></i>
                        <a href="#" class="text-white font-bold mr-1">Bug report à patch</a>
                        <p class="text-gray-400 text-sm">Version: 1.3.9</p>
                        <div class="flex px-1">
                        </div>
                    </div>
                    <div class="w-full mt-1 text-gray-400 text-sm flex">
                        <div class="w-1/2 items-left">
                            <p>#7 - Ouvert le 16 Avril 2021 par <a href="#" class="hover:text-green-400">Vengelis_</a></p>
                        </div>
                        <div class="w-1/2 items-right text-right">
                            <p><i class="far fa-comment-alt mr-1"></i>2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-700 overflow-hidden shadow rounded-lg divide-y divide-gray-500 p-3 mb-2">
            <div class="flex">
                <div style="width: 4.4rem; height: 4.2rem;" class="relative mr-4">
                    <a href="#" class="flex-shrink-0">
                        <img class="w-14 h-14 flex-shrink-0 mx-auto bg-gray-700 rounded-lg absolute top-0 left-0" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </a>
                    <div class="hidden lg:block absolute bottom-0 right-0 text-xl bg-gray-700 px-1 rounded-full">
                        <p class="fa fa-info-circle text-blue-400"></p>
                    </div>
                </div>
                <div class="w-full">
                    <div class="text-lg flex items-center">
                        <i class="fa fa-minus text-gray-300 mr-1"></i>
                        <a href="#" class="text-white font-bold mr-1">Suggestion du turfu !</a>
                        <p class="text-gray-400 text-sm">Version: 1.3.9</p>
                        <div class="flex px-1">
                        </div>
                    </div>
                    <div class="w-full mt-1 text-gray-400 text-sm flex">
                        <div class="w-1/2 items-left">
                            <p>#7 - Ouvert le 16 Avril 2021 par <a href="#" class="hover:text-green-400">Vengelis_</a></p>
                        </div>
                        <div class="w-1/2 items-right text-right">
                            <p><i class="far fa-comment-alt mr-1"></i>1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-700 overflow-hidden shadow rounded-lg divide-y divide-gray-500 p-3 mb-2">
            <div class="flex">
                <div style="width: 4.4rem; height: 4.2rem;" class="relative mr-4">
                    <a href="#" class="flex-shrink-0">
                        <img class="w-14 h-14 flex-shrink-0 mx-auto bg-gray-700 rounded-lg absolute top-0 left-0" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=yP67yKftVX&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </a>
                    <div class="hidden lg:block absolute bottom-0 right-0 text-xl bg-gray-700 px-1 rounded-full">
                        <p class="fa fa-check-circle text-green-400"></p>
                    </div>
                </div>
                <div class="w-full">
                    <div class="text-lg flex items-center">
                        <i class="fa fa-check text-green-300 mr-1"></i>
                        <a href="#" class="text-white font-bold mr-1">C'était pas mieux avant</a>
                        <p class="text-gray-400 text-sm">Version: 1.3.9</p>
                        <div class="flex px-1">
                        </div>
                    </div>
                    <div class="w-full mt-1 text-gray-400 text-sm flex">
                        <div class="w-1/2 items-left">
                            <p>#7 - Ouvert le 16 Avril 2021 par <a href="#" class="hover:text-green-400">Vengelis_</a></p>
                        </div>
                        <div class="w-1/2 items-right text-right">
                            <p><i class="far fa-comment-alt mr-1"></i>4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}