{% extends 'ressources/view/index.html.twig' %}

{% block subRouteModule %}

    <div class="w-auto mx-5 text-white mt-2">
        <div class="bg-gray-700 overflow-hidden shadow rounded-lg divide-y divide-gray-500 p-3 mb-2">
            <div class="text-gray-200 mb-2 ml-2">
                <div class="flex text-white mt-1">
                    <div class="w-1/2 text-left pl-2 flex items-center">
                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-500 text-black">
                          PRE-RELEASE
                        </span>
                        <strong class="mx-2">Patch: Titre d'une mise à jour</strong>


                    </div>
                    <a class="w-1/2 text-right">
                        <p class="mr-2 text-sm">v1.3.9</p>
                    </a>
                </div>

            </div>
            <div class="p-2">
                <div id="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac lacus dapibus, dignissim sem ut, sodales augue. Vestibulum semper turpis lacus, sed ultrices risus varius ac. Sed varius dapibus nunc sed interdum. Proin efficitur iaculis est vitae commodo. Aenean nec metus at odio tincidunt pulvinar hendrerit sit amet lacus. Maecenas commodo ligula sit amet lectus porta, non mattis diam consequat. Vivamus lacinia nulla quam, eu vulputate ex molestie maximus. Nam lectus odio, rhoncus non aliquam ut, facilisis vitae risus. Aliquam pretium vestibulum ex. Morbi a auctor mi, in viverra lorem. Aenean tempus arcu nunc, ut bibendum risus feugiat et.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec vulputate augue. Integer consectetur volutpat vulputate. Nam vitae bibendum elit. Pellentesque eget facilisis erat. Fusce sed mauris iaculis urna feugiat dictum. Nullam maximus viverra ligula, vel ultrices diam facilisis at. Pellentesque porta sagittis metus, at dignissim elit faucibus quis. Aenean pharetra eu mi a finibus. Duis laoreet, ligula in rhoncus pharetra, odio velit pharetra felis, posuere dignissim ex neque quis orci. Vestibulum sit amet orci quam. Vestibulum sit amet aliquet arcu. Fusce non nulla vehicula, scelerisque mauris vel, aliquam diam. Donec urna diam, pulvinar tristique purus eget, ornare interdum lacus. Donec non quam quis ante suscipit fringilla.
                    </p>
                </div>
                <div class="w-full p-2 border border-gray-500 mt-2 rounded-md">
                    <div class="flex text-white text-sm mt-1">
                        <div class="w-1/2 text-left pl-2">
                            <p>Le 18 Avril 2021 par <a href="#" class="text-green-400 font-bold">Vengelis_</a></p>
                        </div>
                        <div class="w-1/2 flex flex-row-reverse">
                            <div class="flex items-center">
                                <button class="mx-1 text-green-400"><i class="fa fa-heart mx-1"></i>(3)</button>
                                <button><i class="fa fa-share text-gray-400 mx-1"></i></button>
                                <button><i class="fa fa-exclamation-triangle text-red-400 mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-700 overflow-hidden shadow rounded-lg divide-y divide-gray-500 p-3 mb-2">
            <div class="text-gray-200 mb-2 ml-2">
                <div class="flex text-white mt-1">
                    <div class="w-1/2 text-left pl-2 flex items-center">
                        <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-green-300 text-black">
                          RELEASE
                        </span>
                        <strong class="mx-2">Patch: Titre d'une mise à jour</strong>


                    </div>
                    <a class="w-1/2 text-right">
                        <p class="mr-2 text-sm">v1.3.9</p>
                    </a>
                </div>

            </div>
            <div class="p-2">
                <div id="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac lacus dapibus, dignissim sem ut, sodales augue. Vestibulum semper turpis lacus, sed ultrices risus varius ac. Sed varius dapibus nunc sed interdum. Proin efficitur iaculis est vitae commodo. Aenean nec metus at odio tincidunt pulvinar hendrerit sit amet lacus. Maecenas commodo ligula sit amet lectus porta, non mattis diam consequat. Vivamus lacinia nulla quam, eu vulputate ex molestie maximus. Nam lectus odio, rhoncus non aliquam ut, facilisis vitae risus. Aliquam pretium vestibulum ex. Morbi a auctor mi, in viverra lorem. Aenean tempus arcu nunc, ut bibendum risus feugiat et.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec vulputate augue. Integer consectetur volutpat vulputate. Nam vitae bibendum elit. Pellentesque eget facilisis erat. Fusce sed mauris iaculis urna feugiat dictum. Nullam maximus viverra ligula, vel ultrices diam facilisis at. Pellentesque porta sagittis metus, at dignissim elit faucibus quis. Aenean pharetra eu mi a finibus. Duis laoreet, ligula in rhoncus pharetra, odio velit pharetra felis, posuere dignissim ex neque quis orci. Vestibulum sit amet orci quam. Vestibulum sit amet aliquet arcu. Fusce non nulla vehicula, scelerisque mauris vel, aliquam diam. Donec urna diam, pulvinar tristique purus eget, ornare interdum lacus. Donec non quam quis ante suscipit fringilla.
                    </p>
                </div>
                <div class="w-full p-2 border border-gray-500 mt-2 rounded-md">
                    <div class="flex text-white text-sm mt-1">
                        <div class="w-1/2 text-left pl-2">
                            <p>Le 18 Avril 2021 par <a href="#" class="text-green-400 font-bold">Vengelis_</a></p>
                        </div>
                        <div class="w-1/2 flex flex-row-reverse">
                            <div class="flex items-center">
                                <button class="mx-1 text-green-400"><i class="fa fa-heart mx-1"></i>(3)</button>
                                <button><i class="fa fa-share text-gray-400 mx-1"></i></button>
                                <button><i class="fa fa-exclamation-triangle text-red-400 mx-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}