{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1 class="text-red-800">{{ title }}</h1>

    {% if age >= 18 %}
        <p> Tu es un parfait connard </p>
    {% else %}
        <p> Tu n'es pas un connard </p>
    {% endif %}
    
    <p>Excepteur eiusmod sunt dolore voluptate fugiat reprehenderit amet. Mollit esse pariatur deserunt Lorem minim in esse sit qui nulla. 
    Dolor veniam incididunt laborum voluptate elit qui cupidatat ex quis. Non quis occaecat velit cillum dolor sit nisi laborum id laboris non. 
    Ipsum cillum laborum id consequat. Sint eu exercitation sint id minim esse magna. Reprehenderit ut sit velit quis.</p>

{% endblock %}